<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- Define some output appenders -->
  <appender name="rollingAppender" type="log4net.Appender.RollingFileAppender">
    <!--    value="logs/log.log"-->
    <file value="C:\logs\" />
    <!--追加日誌內容-->
    <appendToFile value="true" />

    <!--防止多執行緒時不能寫Log,官方說執行緒非安全-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <!--可以為:Once|Size|Date|Composite-->
    <!--Composite為Size和Date的組合-->
    <rollingStyle value="Composite" />

    <!--當備份檔案時,為檔名加的字尾-->
    <datePattern value="yyyyMMdd/&quot;log.log&quot;" />

    <!--日誌最大個數,都是最新的-->
    <!--rollingStyle節點為Size時,只能有value個日誌-->
    <!--rollingStyle節點為Composite時,每天有value個日誌-->
    <maxSizeRollBackups value="20" />

    <!--可用的單位:KB|MB|GB-->
    <maximumFileSize value="3MB" />

    <!--置為true,當前最新日誌檔名永遠為file節中的名字-->
    <staticLogFileName value="false" />

    <!--輸出級別在INFO和ERROR之間的日誌-->
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ALL" />
      <param name="LevelMax" value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
  </appender>
  <root>

    <!--控制級別，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <!--OFF:0-->
    <!--FATAL:FATAL-->
    <!--ERROR: ERROR,FATAL-->
    <!--WARN: WARN,ERROR,FATAL-->
    <!--INFO: INFO,WARN,ERROR,FATAL-->
    <!--DEBUG: INFO,WARN,ERROR,FATAL-->
    <!--ALL: DEBUG,INFO,WARN,ERROR,FATAL-->
    <priority value="ALL"/>

    <level value="INFO"/>
    <!--使用上面配置的那個規則，ref指定上面的規則名稱-->
    <appender-ref ref="rollingAppender" />
  </root>
</log4net>