
@{
    ViewData["Title"] = "Create";
}

<h1>頁面送出</h1>

<div>
    <form action="create" method="post">
        
        <input type="text" name="first_name" />
        <input type="submit" value="send" />
    </form>
</div>